.intro{
	text-align: center;
	font-weight: 300;
	margin-left: 2rem;
}

.about-p{
	margin-left: 5%;
	margin-right: 5%;
}

.about-img{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2rem;
}

@media only screen and (min-width: 35em) {
	
	.about-img{
		float: left;
		padding-right: 2rem;
		margin-left: 5%;
		margin-bottom: 2rem;
	}
	
	.about{
		padding-bottom: 1rem;
	}

}

@media only screen and (min-width: 80em) {
	
	.about-p{
		margin-right: 8rem;
	}

	.about-img{
		margin-left: 10rem;
	}

	.about{
		padding-bottom: 3rem;
	}

}