@charset "UTF-8";
/* Responsive Setup */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html, body{
    font-family: 'open-sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.unit{
	background-color: white;
	float: left;
}

.body{
	margin-top: 1rem;
}

.specs{
	margin-top: 1rem;
	margin-left: -1.4rem;
}

.main-img{
	width: 92%;
}

.image-view{
	margin-top: .5rem;
	width: 30%;
}






