.intro{
	text-align: center;
	font-weight: 300;
	padding-left: 3rem;
}

.women-title{
	margin-left: 2.5rem;
	margin-bottom: 0;
}

.sub-nav{
	float: left;
}

.sub-links{
	font-size: .8rem;
	text-transform: uppercase;
	color: #000;
}