---
layout: default
title: Women
---

<!--SUB NAV-->
<div class="main">
	<h1>Womens</h1>
		<h2>Blouses</h2>
			{% include women-list.html category='blouse' %}
		<h2>Tanks</h2>
			{% include women-list.html category='tanks' %}
		<h2>Plain Tees</h2>
			{% include women-list.html category='plain'%}
</div>


<!--PRODUCT LIST ITEMS START
	<div class="grid main">
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Crop Top" desc="All new spring apparel!" image="../images/shirt.jpg" %}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Gold Watch" desc="20% off selected items." image="../images/shirt.jpg" %}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include product-list.html title="Black Blouse" desc="50% off all winter apparel." image="../images/shirt.jpg"%}
		</div>

	</div>-->