# Accessibility Testing Report

User testing was conducted by Sarah Bootsma on April 2, 2014 between the times of 4:00pm and 6:00pm with the following participants:

- Rachel Lin
- Sarah Hodgson
- Sam McClelland
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. Go to the about page
2. Purchase an item
3. Search for a blouse

---

## Individual Results & Observations

### Rachel Lin

- She completed the task of going to the about page without any problems.
- She purchased an item as expected with the tab button
- She searched for an item using the search navigation with the tab button.

### Sarah Hodgson

- She tabbed through to the about page as expected
- She searched for an item by tabbing to the search bar
- She purchased an item using the tab button as expected.

### Sam McClelland

- She tabbed to the about page using the voice over without any problems
- She had a hard time finding the search navigation and had to find something through the womens page instead.
- She purchased an item using the voice over without any problems.

### Pedro Cardoso dos Santos

- He found the about page using the voice over as expected
- He navigated to the search bar & searched for an item using the voice over
- He purchased a blouse using the voice over as expected.

### Shelley Babij

- She tabbed through the website to the about page as expected.
- She searched through the search nav bar as expected.
- She purchased an item using the tab button without any problems.

### Katie Situ

- She tabbed through to the about page using the voice over successfully.
- She searched for a blouse using the voice over as expected.
- She purchased an item using the voice over sucessfully without any problems

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Some of the participants had trouble purchasing an item when just tabbing as the links didn't highlight.

### Serious, Causes Frustration, May Hinder Completion

- The product items dont highlight which makes it hard for deaf people to navigate through my website.

### Minor, Annoying, Won’t Hinder Completion

- 