---
layout: default
title: Home
meta: A Canadian-based cutting edge retailer offering women's clothing and accessories.
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
 	<meta charset="utf-8">
	<title>Womens</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700,800' rel='stylesheet' type='text/css'>
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/about.css" rel="stylesheet">
</head>
<body>
<main class="main">
	<div class="grid">
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 1" desc="Super-Duper!" image="../images/shirt.jpg" %}
		</div>
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 2" desc="Amaze-balls!" image="../images/shirt.jpg" %}
		</div>
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 3" desc="Fantastico!" image="../images/shirt.jpg"%}
		</div>
	</div>
</main>

</body>
</html>