---
layout: default
title: Home
meta: A Canadian-based cutting edge retailer offering women's clothing and accessories.
---
	<main class="main" role="main">
		<div>
			<a href="{{site.baseurl}}/women/" class="hide-text">Promo Large
			{% include promo-large.html title="" desc="" image="../images/large-promo.jpg" %}
			</a>
		</div>

		<div class="grid">
			<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
				{% include promo-small.html title="Collared Blouses" desc="50% off selected winter items." image="../images/women/blouse-1.jpg" %}
				<a class="btn milli" href="{{site.baseurl}}/women/blouses/">Shop Now</a>
			</div>

			<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
				{% include promo-small.html title="Tank Tops" desc="All new spring apparel!" image="../images/women/tank-1.jpg" %}
				<a class="btn milli" href="{{site.baseurl}}/women/tanks/">Shop Now</a>
			</div>
			
			<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
				{% include promo-small.html title="Plain Tees" desc="20% off selected items." image="../images/women/plain-1.jpg"%}
				<a class="btn milli" href="{{site.baseurl}}/women/plain-tees/">Shop Now</a>

			</div>
		</div>
	</main>