# User Testing Report

User testing was conducted by Sarah Bootsma on March 26, 2014 between the times of 3:00pm and 6:00pm with the following participants:

- Rachel Lin
- Sarah Hodgson
- {Jordan Doe}

## Tasks

1. Search for a blouse and add it to cart
2. Finish transaction through the cart
3. Find the plain tees section

---

## Individual Results & Observations

### Rachel Lin

- She searched for a blouse through the search bar as expected
- She clicked a blouse & added it to the shopping cart
- She followed through the shopping cart to the thank you page
- She found the plain tees section, going through the womens page

### Sarah Hodgson

- She searched for a blouse through the womens tab, not the search bar
- She followed through the item and finished transaction
- She found the plain tees section through the womens tab as expected.

### Makeda Mclean

- She searched through the womens tab for the blouse
- She clicked through and added it to the cart. 
- She found the plain tees section through the womens tab as expected.
- Asked if the shopping cart page was the cart page / seemed a bit confused

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Most participants searched through the womens tab, rather than using the search bar.

### Serious, Causes Frustration, May Hinder Completion

- None were found.

### Minor, Annoying, Won’t Hinder Completion

- Shopping cart page isn't very different from the product details page.

