
<ul class="grid milli">
	{% for women in site.pages %}
		{% if women.category == include.category %}
	<li class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-3">
		<a class="block-link" href="{{site.baseurl}}{{women.url}}">
		<img src="{{site.baseurl}}/images/women/{{women.image}}" alt="{{women.title}}" class="img-flex">
		<h3 class="product-title">{{women.title}}</h3></a>
		<p class="product-info">{{women.meta}}</p>
		<p class="product-price">{{women.cost}}</p>
	</li>
		{% endif %}
	{% endfor %}
</ul>