* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.img{
	width: 100%;
}

.ease-all{
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.block-link{
    display: block;
}


.main{
    padding-top: 8rem;
}

.large-img{
    padding-top: 6rem;
}