.thank-msg{
	text-align: center;
	margin-left: 2.5rem;
	font-weight: 300;
}

.informal {
	padding-top: 20rem;
	margin-left: 3rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}

.informal p:nth-child(1) {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80px;
  text-shadow: 4px 5px #000, 6px 7px #fff;
  letter-spacing: 3px;
}

.thank-background{
	background: url("../images/thank-you.jpg") repeat repeat;
	padding-bottom: 14rem;
}
