<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Dinos 'R' Us</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700,800' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
</head>
<body>