<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Minimal Clothing Co.</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700,800' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>

<body>
<header role="banner">
    <a href="#nav" class="nav-btn hide-text" data-state="inactive">Navigation</a>
    <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" alt="Minimal Clothing Co." class="logo"></a>
      <nav class="nav nav-top" data-state="collapsed" role="navigation">
        <ul>
          <li class="micro"><a class="{% if page.url =='/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
          
          <li class="micro"><a class="{% if page.url contains 'women' %}current{% endif %}" href="{{site.baseurl}}/women/">Women</a></li>
          
          <li class="micro"><a class="{% if page.url =='/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
          
          <li class="micro"><a class="{% if page.url =='/cart/' %}current{% endif %}" href="{{site.baseurl}}/cart/">Cart</a></li>
        </ul>
      </nav>

      <form role="search" method="get" id="searchform" class="searchform" action="{{site.baseurl}}/search/">
        <div class="searchboxwrapper">
            <input class="searchbox" type="text" value="" title="search bar" name="s" placeholder="Search..." id="s">
            <input class="searchsubmit" type="submit" id="searchsubmit" value="➡">
        </div>
      </form>
</header>  

{% if page.showbanner %}
<div class="banner">
  <h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

  <footer>
    <div class="social-links">
      <ul class="social">
        <li>
          <a class="ease-all" href="#">
            <i class="fa fa-facebook"></i>
            <span class="hide-text">Facebook</span>
          </a>
        </li>
              
        <li>
          <a class="ease-all" href="#">
            <i class="fa fa-twitter"></i>
            <span class="hide-text">Twitter</span>
          </a>
        </li>
              
        <li>
          <a class="ease-all" href="#">
            <i class="fa fa-instagram"></i>
            <span class="hide-text">Instagram</span>
          </a>
        </li>
              
        <li>
          <a class="ease-all" href="#">
            <i class="fa fa-pinterest"></i>
            <span class="hide-text">Pinterest</span>
          </a>
        </li>
      </ul>
    </div>
          
    <nav id="nav" class="nav nav-bottom">
     <ul>
          <li class="micro"><a class="{% if page.url =='/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
          
          <li class="micro"><a class="{% if page.url contains 'women' %}current{% endif %}" href="{{site.baseurl}}/women/">Women</a></li>
          
          <li class="micro"><a class="{% if page.url =='/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
          
          <li class="micro"><a class="{% if page.url =='/cart/' %}current{% endif %}" href="{{site.baseurl}}/cart/">Cart</a></li>
        </ul>
    </nav>

    <p class="micro" role="contentinfo">Sarah Bootsma 2013. All Rights Reserved.</p>
  </footer>
  
<script src="{{site.baseurl}}/js/nav.js"></script>
</body>
</html>