---
layout: womens
---
	<h1 class="details-brand">{{page.title}}</h1>
	<h2 class="details-name milli">{{page.meta}}</h2>

	<img src="{{site.baseurl}}/images/women/{{page.image}}" alt="Photo of {{page.image}}" class="img-flex details-image">

	<ul class="details-list milli">
		<li><strong>Cost:</strong> {{page.cost}}</li>
		<li><strong>Availability:</strong> {{page.avail}}</li>
		<li><strong>Details:</strong> {{page.details}}</li>
		<li><strong>Material:</strong> {{page.material}}</li>
		<li><strong>Size:</strong> {{page.size}}</li>
		<li><strong>Measurement:</strong> {{page.measure}}</li>
		<li><strong>Features:</strong> {{page.feature}}</li>
	</ul>

	<a class="btn details-btn micro" href="{{site.baseurl}}/cart/">Buy Now ></a>

{{content}}