---
layout: default
---
<div class="sub-nav-page">
	<div class="left-nav">
		<nav class="main sub-nav">
			<h1 class="kilo sub-nav-title"><strong>Womens:</strong></h1>
			<ul class="micro sub-nav-ul">
				<li class="sub-nav-li">
					<a href="{{site.baseurl}}/women/">All Tops</a>
				</li>
				<li class="sub-nav-li">
					<a href="{{site.baseurl}}/women/blouses/">Blouses</a>
				</li>
				<li class="sub-nav-li">
					<a href="{{site.baseurl}}/women/tanks/">Tank Tops</a>
				</li>
				<li class="sub-nav-li">
					<a href="{{site.baseurl}}/women/plain-tees/">Plain Tees</a>
				</li>
			</ul>
		</nav>
	</div>

<div class="main content-section">
	{{content}}
</div>

</div>